In [37]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from io import StringIO
from time import sleep
from urllib.request import urlretrieve
from urllib.parse import quote

In [47]:
reactors = pd.read_csv('../data/reactors/Operational Reactors - lookup test.csv')
reactors = reactors.reindex(columns = reactors.columns.tolist()  
                                  + ['Coordinates','Latitude', 'Longitude'])
reactors['Coordinates'] = reactors['Coordinates'].apply(str) 
                                     
print(reactors.head())
reactors.dtypes

     Country Reactor Code Reactor Name  Type       Model  \
0  ARGENTINA        AR -1     ATUCHA-1  PHWR    PHWR KWU
1  ARGENTINA        AR -3     ATUCHA-2  PHWR    PHWR KWU
2  ARGENTINA        AR -2      EMBALSE  PHWR     CANDU 6
3    ARMENIA       AM -19   ARMENIAN-2   PWR  VVER V-270

   Capacity (MW)-Thermal  Capacity (MW)-Gross  Capacity (MW)-Net  Operator  \
0                   1179                  362                340      NASA
1                   2160                  745                693      NASA
2                   2064                  656                608      NASA
3                   1375                  408                375  ANPPCJSC

  NSSS\nsupplier Construction\nstart Grid\nconnection Commercial\noperation  \
0        SIEMENS              1968-6           1974-3                1974-6
1        SIEMENS              1981-7           2014-6                2016-5
2           AECL              1974-4           1983-4                1984-1
3           FAEA              1975-7           1980-1                1980-5

       EAF %      UCF % Non- Coordinates  Latitude  Longitude
0  81.598502  81.788353    -         nan       NaN        NaN
1  56.761328  56.761328    -         nan       NaN        NaN
2  54.823876  54.873588    -         nan       NaN        NaN
3  66.873519  68.831202    -         nan       NaN        NaN

Country                   object
Reactor Code              object
Reactor Name              object
Type                      object
Model                     object
Capacity (MW)-Thermal      int64
Capacity (MW)-Gross        int64
Capacity (MW)-Net          int64
Operator                  object
NSSS\nsupplier            object
Construction\nstart       object
Grid\nconnection          object
Commercial\noperation     object
EAF %                    float64
UCF %                    float64
Non-                      object
Coordinates               object
Latitude                 float64
Longitude                float64
dtype: object

In [48]:
term1 = str(reactors.at[0, 'Country'])
term2 = str(reactors.at[0, 'Reactor Name'])

In [49]:
var = requests.get(r'http://www.google.com/search?q=' + term1 + term2 + 'reactor&btnI')
newurl = str(var.url)
newurl = newurl.split("url?q=",1)[1]

print(newurl)

soup = BeautifulSoup(url.content, 'html.parser')
my_table = soup.find('span',{'class':'geo-dec'})
print(my_table)

#soup = BeautifulSoup(url.content, 'html.parser')
#my_table = soup.find('table',{'class':'sortable wikitable'})
#print(my_table)

https://en.wikipedia.org/wiki/Atucha_Nuclear_Power_Plant
<span class="geo-dec" title="Maps, aerial photos, and other data for this location">39.80806°N 5.69694°W</span>

In [50]:
print(my_table.type)
print(my_table.string)

None
39.80806°N 5.69694°W

In [51]:
reactors.at[0, 'Coordinates'] = str(my_table.string)
reactors.head()

,Country,Reactor Code,Reactor Name,Type,Model,Capacity (MW)-Thermal,Capacity (MW)-Gross,Capacity (MW)-Net,Operator,NSSS\nsupplier,Construction\nstart,Grid\nconnection,Commercial\noperation,EAF %,UCF %,Non-,Coordinates,Latitude,Longitude
0,ARGENTINA,AR -1,ATUCHA-1,PHWR,PHWR KWU,1179,362,340,NASA,SIEMENS,1968-6,1974-3,1974-6,81.598502,81.788353,-,39.80806°N 5.69694°W,NaN,NaN
1,ARGENTINA,AR -3,ATUCHA-2,PHWR,PHWR KWU,2160,745,693,NASA,SIEMENS,1981-7,2014-6,2016-5,56.761328,56.761328,-,nan,NaN,NaN
2,ARGENTINA,AR -2,EMBALSE,PHWR,CANDU 6,2064,656,608,NASA,AECL,1974-4,1983-4,1984-1,54.823876,54.873588,-,nan,NaN,NaN
3,ARMENIA,AM -19,ARMENIAN-2,PWR,VVER V-270,1375,408,375,ANPPCJSC,FAEA,1975-7,1980-1,1980-5,66.873519,68.831202,-,nan,NaN,NaN

In [16]:
print(newurl.split("url?q=",1)[1])

https://en.wikipedia.org/wiki/Embalse_Nuclear_Power_Station

In [8]:
df=pd.read_html(str(my_table))
df=pd.DataFrame(df[0])
df.head()

,Power station,# units[note 1],Net capacity[note 2](MWe),Country,Location,Refs
0,Almaraz,2,2017,Spain,39°48′29″N 05°41′49″W﻿ / ﻿39.80806°N 5.69694°W,NaN
1,Angra,2,"1,884[note 3]",Brazil,23°00′30″S 44°28′26″W﻿ / ﻿23.00833°S 44.47389°W,NaN
2,ANO,2,1839,United States,35°18′37″N 93°13′53″W﻿ / ﻿35.31028°N 93.23139°W,NaN
3,Ascó,2,1992,Spain,41°12′00″N 00°34′10″E﻿ / ﻿41.20000°N 0.56944°E,NaN
4,Atucha,2,1027,Argentina,33°58′3″S 59°12′18″W﻿ / ﻿33.96750°S 59.20500°W,NaN

In [10]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_nuclear_power_stations#In_service')

soup = BeautifulSoup(url.content, 'html.parser')
my_table = soup.find('table',{'class':'sortable wikitable'})
print(my_table)